<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title> watch+ </title>
</head>

<body>
    <nav class="navbar">
        <img src="public/imagens/watch + logo branco.png" alt="watch+" class="logo">
        <a href="index" class="link">home</a>
        <a href="filmes-e-series" class="link">filmes e séries</a>
        <a href="pacotes" class="link">pacotes</a>
        <a href="cadastre-se" class="link">cadastre-se</a>
    </nav>

    <div class="basic">
        <h1 class="titulo">watch basic</h1>
        <div>
            <p class="texto">Plano único, com todos os contéudos dispóniveis em HD, ideal para uma pessoa só!</p>
        </div>
    </div>

    <div class="top">
        <h1 class="titulo">watch top</h1>
        <div>
            <p class="texto">Plano com 3 telas simultâneas, com todos os contéudos dispóniveis em qualidade 4K!</p>
        </div>
    </div>

    <div class="family">
        <h1 class="titulo">watch family</h1>
        <div>
            <p class="texto">Plano com 6 telas simultâneas, com todos os contéudos dispóniveis em qualidade 8K, ideal
                para sua família ou pra galera!</p>
        </div>
    </div>

</body>

</html>