@keyframes to-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}