*{
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body{
    margin: 0;
    background: linear-gradient(#615AB2, #43C8C8);
    /* Truque para a animação não causar overflow na página */
    overflow-x: hidden;
    min-height: 100vh;
}
.custom-bg-gradient {
    background: linear-gradient(#7161CD, #00E0FF);
}
.color-white {
    color: white;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #484686;
}
.navbar-brand,
.nav-link{
    color: white !important;
}
.navbar-brand{
    font-size: 28px !important;
    transition: all .2s ease-in-out;
}
.nav-link{
   font-size: 22px !important; 
   transition: all .2s ease-in-out;
}

.navbar-brand:hover {
    transform: scale(1.2);
}

.nav-link:hover{
   background: -webkit-linear-gradient(#615AB2, #43C8C8);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.logo{
    max-width: 100px;
    max-height: 75px;
}

a{
    color: white;
}
.poster {
    max-width: 300px;
}
.imagem-planos{
    border-radius: 10px;
}
.titulo{

    color: white;
}
.transition-left {
    animation: to-right .5s;
}
.transition-right {
    animation: to-left .5s;
}
.texto{

    color: white;
    font-size: 25px;
    
}

.filser-img {
    /* visibility: hidden; */
    object-fit: cover;
    width: 350px;
    height: 350px;
}

.carousel {
    box-shadow: 2px 2px 25px rgb(0,0,0,0.5);
    overflow: hidden;
    height: 350px;
    width: 350px;
}

.image-container{
    display: flex;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.btn-passar-foto{
    border-radius: 100% !important;
    background-color: #484686 !important;
    color: white !important;
    height: 50px;
    width: 50px;
    font-size: 50px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-top: 10px !important;
}
.card-plano-descritivo{
    border-radius: 25px;
}

.card-plano-descritivo > .preco-left,
.card-plano-descritivo > .preco {
    bottom: 3rem;
    right: 3rem;
    color: white;
    font-size: 32px;
    
}
.card-plano-descritivo > .preco-left{
    left: 3rem;
    right: 0;
}

.card-plano-descritivo{
    transition: all .2s ease-in-out;
}
.card-plano-descritivo:hover {
    transform: scale(1.1);
}

/* Form de cadastro */

.form-cadastro  {
    width: 100%;
}

.form-cadastro > .dados{

    width: 55%;
}
.form-cadastro > .planos {
    width: 45%;
}

.form-cadastro > .planos > .form-check {
    width: 100%;
    background-color: white;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    height: 140px;
}
.form-cadastro > .planos > .form-check >.form-check-label {
    width: 100%;
}

.card-plano > .nome-plano {
    font-size: 24px;
    color: #615AB2;
}
.card-plano > .lista > li {
    color: #615AB2;
    font-size: 18px;
}
.card-plano > .lista > li:nth-child(2n) {
    color: #43C8C8;
}

.card-plano > .preco {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    background: -webkit-linear-gradient(#615AB2, #43C8C8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}