*{
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body{
    margin: 0;
    background: linear-gradient(#615AB2, #43C8C8);
    /* Truque para a animação não causar overflow na página */
    overflow-x: hidden;
    min-height: 100vh;
}

.color-white {
    color: white;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #484686;
}
.navbar-brand,
.nav-link{
    color: white !important;
}
.navbar-brand{
    font-size: 28px !important;
}
.nav-link{
   font-size: 22px !important; 
}
.logo{
    max-width: 100px;
    max-height: 75px;
}

a{
    color: white;
}
.poster {
    max-width: 300px;
}
.titulo{

    color: white;
}
.transition-left {
    animation: to-right .5s;
}
.transition-right {
    animation: to-left .5s;
}
.texto{

    color: white;
    font-size: 25px;
    
}

.agrupar{
    padding-top: 50px;
    padding-left: 450px;
}


.carousel {
    box-shadow: 2px 2px 25px rgb(0,0,0,0.5);
    overflow: hidden;
    height: 500px;
    width: 500px;
}

.image-container{
    display: flex;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

button{
    padding-left: 150px;
    background-color: #5e43c8;
    font-style: oblique;
    border-color: #5e43c8;
    color:white;
}

.basic{
    padding-left: 150px;
    width: 500px;
    height: 500px;
    background: linear-gradient(#7161CD, #00E0FF);
    border-radius: 15%;
}

.top{
    padding-left: 150px;
    width: 500px;
    height: 500px;
    background: linear-gradient(#7161CD, #00E0FF);
    border-radius: 15%;
}

.family{
    padding-left: 150px;
    width: 500px;
    height: 500px;
    background: linear-gradient(#7161CD, #00E0FF);
    border-radius: 15%;
}

/* Form de cadastro */

.form-cadastro  {
    width: 100%;
}

.form-cadastro > .dados{

    width: 55%;
}
.form-cadastro > .planos {
    width: 45%;
}

.form-cadastro > .planos > .form-check {
    width: 100%;
    background-color: white;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    height: 140px;
}
.form-cadastro > .planos > .form-check >.form-check-label {
    width: 100%;
}

.card-plano > .nome-plano {
    font-size: 24px;
    color: #615AB2;
}
.card-plano > .lista > li {
    color: #615AB2;
    font-size: 18px;
}
.card-plano > .lista > li:nth-child(2n) {
    color: #43C8C8;
}

.card-plano > .preco {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    background: -webkit-linear-gradient(#615AB2, #43C8C8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}