<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title> Watch+ </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg color-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="public/imagens/watch + logo branco.png" alt="Watch+ Logo" class="logo">
                Watch+
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav me-0 mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item ms-lg-5">
                        <a class="nav-link" href="/pacotes">Pacotes</a>
                    </li>
                    <li class="nav-item ms-lg-5">
                        <a class="nav-link" href="/filmes-e-series">Filmes e Séries</a>
                    </li>
                    <li class="nav-item ms-lg-5">
                        <a class="nav-link" href="/cadastre-se">Cadastre-se</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="conjunto">
        <img src="public/imagens/004017aedc6dcd672c1456d502f013bd.jpg" alt="Poster E.t." class="poster">
        <h1 class="titulo">Sua aventura começa aqui!</h1>
        <div>
            <p class="texto">Aproveite milhares de filmes, séries, documentários e muito mais em um único lugar, sem
                sair de casa!</p>
        </div>
    </div>

    <div class="conjunto">
        <h1 class="titulo2">No celular,TV e muito mais!</h1>
        <div>
            <p class="texto2">Nosso contéudo pode ser assistido de qualquer lugar!</p>
        </div>
        <img src="public/imagens/04996d042574c99f2b40af7878e4d4e4.jpg" alt="Poster E.t." class="poster2">
    </div>

    <div class="conjunto">
        <img src="public/imagens/ad7fa71dce1e7205361e33b742599f88.jpg" alt="Poster E.t." class="poster">
        <h1 class="titulo">Sem internet? sem problemas!</h1>
        <div>
            <p class="texto">Salve seus favoritos para sempre ter offline</p>
        </div>
    </div>

</body>

</html>