<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/responsividade.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100&family=Bebas+Neue&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title> Watch+ </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Pensando em você, selecionamos os melhores filmes do momento e disponibilizamos em nossa plataforma. Assine já e venha conhecer os universos incríveis que te esperam. Lute com monstros, dome dragões, salve um reino, viva um romance, tudo isso e muito mais sem sair de casa!" />
    <meta name="keywords" content="Filmes, Séries, Originals, Animação, Ação, Romance" />
    <meta name="robots" content="index, follow">
</head>

<body class="filser">
    <nav class="navbar navbar-expand-lg color-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="public/imagens/watch + logo branco.png" alt="Watch+ Logo" class="logo">
                Watch+
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav me-0 mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item ms-lg-5">
                        <a class="nav-link" href="/pacotes">Pacotes</a>
                    </li>
                    <li class="nav-item ms-lg-5">
                        <a class="nav-link" href="/filmes-e-series">Filmes e Séries</a>
                    </li>
                    <li class="nav-item ms-lg-5">
                        <a class="nav-link" href="/cadastre-se">Cadastre-se</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container mt-3">
        <article class="wrapper-originais d-flex justify-content-center align-items-center flex-md-row flex-column ">
            <div>
                <h1 class="titulo text-center">Séries Originais</h1>
                <div class="carousel-wrapper d-flex mt-3 align-items-center position-relative">
                    <button id="back" class="btn-passar-foto btn-passar-foto-direita btn position-absolute"> &lt;
                    </button>
                    <div class="carousel">
                        <div class="image-container">
                            <img src="public/imagens/serie-pula-boi-pula-cavalo.png"
                                alt="Série original: Pula boi pula cavalo, pula cavalo e boi" class="filser-img">
                            <img src="public/imagens/doggo-the-dog.png" alt="Série original: Doggo, the dog"
                                class="filser-img">
                            <img src="public/imagens/rio.png" alt="Série Original: Rio, uma história de samba"
                                class="filser-img">
                        </div>
                    </div>
                    <button id="next" class="btn-passar-foto btn-passar-foto-esquerda btn position-absolute"> &gt;
                    </button>
                </div>
            </div>
            <h3 class="px-5 color-white mt-3 mt-md-0 text-center text-md-start">
                Cansado de histórias que acabam rápido? Quer saber mais sobre os personagens que ama? Conheça já as
                séries disponíveis na plataforma e tenha a hora que quiser episódios incríveis!
            </h3>
        </article>

        <script src="public/script.js"></script>
    </section>
    <section class="container mt-3">
        <article class="">
            <h2 class="color-white text-center">
                Pensando em você, selecionamos os melhores filmes do momento e disponibilizamos em nossa
                plataforma. Assine já e venha conhecer os universos incríveis que te esperam. Lute com monstros, dome
                dragões, salve um reino, viva um romance, tudo isso e muito mais sem sair de casa!
            </h2>
        </article>
    </section>
</body>

</html>